/*
ETIQUETAS HTML
*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-color: rgb(224, 224, 224);
    font-family: 'Korolev', sans-serif, monospace;
    font-size: 1.2rem;
    font-weight: 700;
    color: #105652;
}

main,
section {
    width: 70%;
    margin: 0 auto;
}

article {
    padding-left: 4px;
}

footer section {
    width: 100%;
}

footer img {
    width: 50px;
    height: 50px;
}

a {
    text-decoration: none;
    color: #105652;
    margin: 0;
    padding: 5px;
}

h2 {
    margin: 0 auto;
    font-weight: 900;
}

iframe {
    display: block;
    margin: 0 auto;
}

hr {
    height: 4px;
    border-width: 0;
    background-color: #105652
}

/*
CLASES
*/

.contenedorArriba {
    position: fixed;
    bottom: 40%;
    left: 95%;
    z-index: 2;
}

.contenedorArriba img {
    width: 80%;
    height: 80%;
}

.derecha {
    left: 90%;
}

.derecha img {
    width: 60%;
    height: 60%;
}

.contenedorArriba a {
    width: auto;
    height: auto;
}

.posteos {
    position: fixed;
    top: 38%;
    right: 1px;
    width: 18%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 1%;
    border: solid 2px #105652;
    background-color: rgb(224, 224, 224);
    z-index: 10;
}

.posteos h6 {
    margin: 2% auto;
    text-align: center;
}

.posteos ul {
    padding: 5px;
}

.posteos ul li {
    display: list-item;
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 2% auto;
}

.hashtags {
    margin-top: 20px;
    font-size: 20px;
    overflow: hidden;
}

.formularioContacto label {
    display: inline-block;
}

.anchoTotal {
    width: 100%;
}

.imagenPost {
    display: block;
}

.btnColor {
    border-radius: 10px;
    background-color: #FF4C29;
    color: white;
}


/* 
TRANSFORMACIONES & ANIMACIONES
*/

.navAnim:hover {
    color: #FF4C29;
    transform: scale(1.08);
}

.hashtags a:hover {
    color: rgba(119, 0, 255, 0.89);
    transform: scale(1.2);
}

.hashtagsMarquesina {
    width: 100%;
    transform: translateX(100%);
    animation: textoMarquesina 12s linear infinite;
}

.popup1000 {
    animation: mostrarPopup 1s;
}

.popup3000 {
    animation: mostrarPopup 3s;
}

.popup5000 {
    animation: mostrarPopup 5s;
}

/*
KEYFRAMES
*/
@keyframes textoMarquesina {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes mostrarPopup {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

/*
FLEX
*/

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hashtagsMarquesina {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*
ID
*/

#logoCorreo {
    vertical-align: middle;
}

#podcast {
    margin-bottom: 10px;
}

#newsletter {
    width: 90%;
    padding: 15px;
    border: solid 2px black;
    border-radius: 19px;
    background-color: #105652;
    color: white;
    text-align: center;
}

#newsletter p {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
}


/* Alínea la sección de redes a la derecha del grid */
#redes {
    justify-self: flex-end;
}

#contacto {
    text-align: center;
}

#formularioContacto {
    display: block;
    width: 50%;
    margin: 0 auto;
}

#correoContacto .flex {
    justify-content: start;
}

/* BOOTSTRAP */


.navColor,
.dropdown-menu {
    background-color: #105652;
}

.navbar a,
.navbar .navbar-brand,
.navbar .navbar-nav .nav-item .nav-link {
    color: #f8f9fa;
}

.navbar-light,
.navbar-brand,
.nav-link,
.navItemColor {
    color: #f8f9fa;
}

.carousel-inner {
    margin: 0 auto;
    max-width: 65%;
    max-height: 65%;
}

.carousel-caption {
    background-color: black;
    border-radius: 20px;
    background-color: #105652;
    padding: 5px auto;
    margin: 15px;
}

.carousel-caption a {
    padding: 0;
}

.carousel-caption h5,
.carousel-caption p {
    color: white;
    padding: 0;
    margin: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 60%;
    height: 60%;
}

.accordion {
    margin-right: 20%;
    margin-left: 5%;
}

.accordion-button,
.accordion-item {
    background-color: rgb(224, 224, 224);
}

.accordion-item article img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.toast,
.toast-header {
    background-color: rgba(224, 224, 224, 0.712);
}

.toast-header img {
    width: 10%;
}

.toast-body a {
    margin: 0 auto;
}



/* MEDIA QUERIES */

@media(max-width: 1200px) {

    .contenedorArriba {
        left: 90%;
    }

    .contenedorArriba img {
        width: 80%;
        height: 80%;
    }

    .posteos {
        display: none;
    }

    .carousel-inner {
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
    }

    .accordion {
        margin: 0 auto;
    }
}

@media(max-width: 992px) {

    main,
    section {
        width: 90%;
    }

    footer h5,
    footer h6 {
        text-align: center;
    }

    footer .row {
        margin: 0 auto;
    }

    .contenedorArriba {
        display: none;
    }

    #correoContacto .flex {
        justify-content: center;
    }

    #newsletter p {
        display: none;
    }

    .nav-link,
    .dropdown-item {
        text-align: right;
    }

    .nav-item.dropdown {
        display: flex;
        flex-direction: column;
    }

    .dropdown-menu.show {
        width: max-content;
    }

    .accordion-item article img {
        width: 70%;
        height: 70%;
    }

}

@media(max-width: 768) {
    .accordion-item article img {
        width: 100%;
        height: 100%;
        margin: 0;
    }

}