/*
ETIQUETAS HTML
*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding-left: 4px;
    background-color: rgb(224, 224, 224);
    font-family: 'Korolev', sans-serif, monospace;
    font-size: 20px;
    color: #105652;
}

main,
section {
    width: 70%;
    margin: 0 auto;
}

footer section {
    width: 100%;
}

footer img {
    width: 50px;
    height: 50px;
}

a {
    text-decoration: none;
    color: #105652;
    margin: 0;
    padding: 5px;
}

h2 {
    margin: 0 auto;
}

iframe {
    display: block;
    margin: 0 auto;
}

hr {
    height: 4px;
    border-width: 0;
    background-color: #105652
}

input {
    margin-bottom: 0.5%;
}

label {
    font-size: 1.5rem;
}

input[type="submit"] {
    font-size: 1rem;
    border-radius: 10px;
    background-color: #FF4C29;
    color: white;
}

/*
CLASES
*/

.contenedorArriba {
    position: fixed;
    bottom: 0%;
    left: 95%;
}

.contenedorArriba img {
    width: 80%;
    height: 80%;
}

.derecha {
    left: 90%;
}

.derecha img {
    width: 60%;
    height: 60%;
}

.contenedorArriba a {
    width: auto;
    height: auto;
}

.posteos {
    position: fixed;
    top: 38%;
    right: 1px;
    width: 18%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 1%;
    border: solid 2px #105652;
    background-color: rgb(224, 224, 224);
    z-index: 10;
}

.posteos h6 {
    margin: 2% auto;
    text-align: center;
}

.posteos ul {
    padding: 5px;
}

.posteos ul li {
    display: list-item;
    list-style-type: circle;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 2% auto;
}

.posteosPerspectiva {
    margin-right: 25%;
}

.posteosPerspectiva article img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.hashtags {
    margin-top: 20px;
    font-size: 20px;
    overflow: hidden;
}

.formularioContacto label {
    display: inline-block;
}

.anchoTotal {
    width: 100%;
}

.imagenPost {
    display: block;
}

/* 
TRANSFORMACIONES & ANIMACIONES
*/

.navAnim:hover {
    color: #FF4C29;
    transform: scale(1.08);
}

.hashtags a:hover {
    color: rgba(119, 0, 255, 0.89);
    transform: scale(1.2);
}

.hashtagsMarquesina {
    width: 100%;
    transform: translateX(100%);
    animation: textoMarquesina 12s linear infinite;
}


/*
KEYFRAMES
*/
@keyframes textoMarquesina {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}


/*
GRID
*/

/* GALERIA */
.gridGaleria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gridGaleriaItem {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


/* FOOTER */
.grFooter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grFooterItem {
    display: flex;
    justify-content: space-between;
}

/* CONTACTO */
.gridForm {
    grid-template-columns: repeat(1, 1fr);
}


/*
FLEX
*/

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexItem {
    align-items: center;
    margin-left: 3px;
    margin-right: 3px;
}

.hashtagsMarquesina {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*
ID
*/

#galeria {
    width: 100%;
}

#galeria img {
    width: 100%;
    height: 100%;
}

#logoCorreo {
    vertical-align: middle;
}

#podcast {
    margin-bottom: 10px;
}

#newsletter {
    width: 90%;
    padding: 15px;
    border: solid 2px black;
    background-color: #105652;
    color: white;
    text-align: center;
}

#newsletter p {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
}

/* Alínea la sección de redes a la defecha del grid */
#redes {
    justify-self: flex-end;
}

#mainContacto {
    font-size: 2rem;
}

#contacto {
    text-align: center;
}

#formularioContacto {
    display: block;
    width: 50%;
    margin: 0 auto;
}

/* MEDIA QUERIES */


@media(max-width: 1200px) {
    .gridGaleria {
        grid-template-columns: repeat(2, 1fr);
    }

    .posteos {
        display: none;
    }

    .posteosPerspectiva {
        margin-right: auto;
    }

    #formularioContacto {
        width: 80%;
    }
}

@media(max-width: 1060px) {

    iframe {
        width: 100%;
    }

    .flex {
        flex-direction: column;
    }

    .flex nav {
        flex-direction: row;
    }

    .hashtags {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .contenedorArriba {
        bottom: 0%;
        left: 90%;
    }

    .derecha {
        left: 90%;
    }

    .contenedorArriba img {
        width: 70%;
        height: 70%;
    }
}

@media(max-width: 768px) {

    footer h5,
    footer h6 {
        text-align: center;
    }

    legend {
        font-size: 1.5rem;
    }

    label {
        font-size: 1rem;
    }

    .flex nav {
        flex-direction: column;
    }

    .gridGaleria {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .gridGaleriaItem {
        justify-self: center;
    }

    .gridGaleriaItem a {
        margin: 0 auto;
    }

    .grFooter {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .grFooterItem {
        justify-content: center;
        align-items: center;
    }

    #redes {
        justify-self: center;
    }

    .imagenPost {
        display: none;
    }

    .contenedorArriba {
        display: none;
    }

    #contacto {
        width: 100%;
        font-size: 2rem;
    }

    #newsletter p {
        display: none;
    }
}

@media(max-width: 535px) {
    legend {
        font-size: 1.3rem;
    }
}

@media(max-width: 460px) {

    main,
    section {
        width: 90%;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    legend {
        font-size: 1.2rem;
    }

    label {
        font-size: 0.8rem;
    }

    #formularioContacto {
        width: 100%;
    }

    #contacto {
        font-size: 1.8rem;
    }
}