/*
CLASES
*/

.theme-light {
    --color-fondo: #{$color-fondo-L};
    --color-principal: #{$color-principal-L};
    --color-fondo-2: #{$color-fondo-2-L};
    --color-hover: #{$color-hover};
    --color-basico-1: #{$color-basico-1};
    --color-basico-2: #{$color-basico-2};
    --color-nav-1: #{$color-nav-1};
    --color-toast: #{$color-toast};
    --color-fuente: #{$color-fuente-L};
    --arriba: url('../images/misc/home.svg');
    --social-correo:  url('../images/social/mail.svg');
    --social-youtube: url('../images/social/youtube.svg');
    --social-spotify: url('../images/social/spotify.svg');
    --social-soundcloud: url('../images/social/soundcloud.svg');
    --social-instagram: url('../images/social/instagram.svg');
    --social-twitter: url('../images/social/twitter.svg');        
}

.theme-dark {
    --color-fondo: #{$color-fondo-D};
    --color-principal: #{$color-principal-D};
    --color-fondo-2: #{$color-fondo-2-D};
    --color-hover: #{$color-hover};
    --color-basico-1: #{$color-basico-1};
    --color-basico-2: #{$color-basico-2};
    --color-nav-1: #{$color-nav-1};
    --color-toast: #{$color-toast};
    --color-fuente: #{$color-fuente-D};
    --arriba: url('../images/misc/home_d.svg');
    --social-correo:  url('../images/social/mail_d.svg');
    --social-youtube: url('../images/social/youtube_d.svg');
    --social-spotify: url('../images/social/spotify_d.svg');
    --social-soundcloud: url('../images/social/soundcloud_d.svg');
    --social-instagram: url('../images/social/instagram_d.svg');
    --social-twitter: url('../images/social/twitter_d.svg');        
}

.contenedorArriba {
    position: fixed;
    bottom: 40%;
    left: 95%;
    z-index: 2;

    img {
        @include wh-eq(80%);
    }

    a {
        @include wh-eq(auto);
    }
}

.contenedorTema {  
    display: inline-block;  
    margin: 0 auto;
}

.derecha {

    left: 90%;

    img {
        @include wh-eq(60%);
    }
}

.posteos {
    position: fixed;
    top: 38%;
    right: 1px;
    width: 18%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 1%;
    @include armarBorde(solid, 2px, var(--color-principal), 0px, var(--color-fondo));
    z-index: 10;

    h6 {
        margin: 2% auto;
        text-align: center;
    }

    ul {
        padding: 5px;

        li {
            display: list-item;
            list-style-type: none;
            font-size: $font-size;
            font-weight: $font-weight;
            margin: 2% auto;
        }
    }
}

.hashtags {
    margin-top: 20px;
    font-size: $font-size*1.1;
    overflow: hidden;
}

.tituloPosteo {
    font-weight: $font-weight+200;
} 

.formularioContacto label {
    display: inline-block;
}

.anchoTotal {
    width: 100%;
}

.imagenPost {
    display: block;
}

.btnColor {
    border-radius: 10px;
    background-color: var(--color-fondo-2);
    color: var(--color-basico-1);
    font-weight: $font-weight+200;
}

.bordeRecuadroEspecial {
    width: 90%;
    padding: 15px;
    @include armarBorde(solid, 2px, var(--color-basico-2), 19px, var(--color-principal));
    color: var(--color-basico-1);
    text-align: center;

    p {
        width: 100%;
        margin: 0 auto;
        display: inline-block;
        vertical-align: middle;
    }

    small {
        color: var(--color-basico-1);
    }
}

//Las siguientes dos clases son las que permiten 
//que los iFrame tengan un mejor responsive
.contenedorMedia {
    position: relative;
    @include wh-dif(100%, 0);
    @include armadoAspectRatio(16, 9);
}

.contenedorMediaOT {
    @extend .contenedorMedia;
    @include armadoAspectRatio(16, 4);
    height: 200px;
}

.media {
    position: absolute;
    top: 0;
    left: 0;
    @include wh-eq(100%);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    // cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;    
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('../images/misc/night.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input:checked + .slider {
    background-color: var(--color-fondo);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-fondo);
  }
  
  input:checked + .slider:before {
    transform: translateX(24px);
    background: var(--color-basico-1) url('../images/misc/sunny.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }