/*
CLASES
*/

.theme-light {
    --color-fondo: #{$color-fondo-L};
    --color-principal: #{$color-principal-L};
    --color-fondo-2: #{$color-fondo-2-L};
    --color-hover: #{$color-hover};
    --color-basico-1: #{$color-basico-1};
    --color-basico-2: #{$color-basico-2};
    --color-nav-1: #{$color-nav-1};
    --color-toast: #{$color-toast};
    --color-fuente: #{$color-fuente-L};
}

.theme-dark {
    --color-fondo: #{$color-fondo-D};
    --color-principal: #{$color-principal-D};
    --color-fondo-2: #{$color-fondo-2-D};
    --color-hover: #{$color-hover};
    --color-basico-1: #{$color-basico-1};
    --color-basico-2: #{$color-basico-2};
    --color-nav-1: #{$color-nav-1};
    --color-toast: #{$color-toast};
    --color-fuente: #{$color-fuente-D};
}

.contenedorArriba {
    position: fixed;
    bottom: 40%;
    left: 95%;
    z-index: 2;

    img {
        @include wh-eq(80%);
    }

    a {
        @include wh-eq(auto);
    }
}

.derecha {

    left: 90%;

    img {
        @include wh-eq(60%);
    }
}

.posteos {
    position: fixed;
    top: 38%;
    right: 1px;
    width: 18%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 1%;
    @include armarBorde(solid, 2px, var(--color-principal), 0px, var(--color-fondo));
    z-index: 10;

    h6 {
        margin: 2% auto;
        text-align: center;
    }

    ul {
        padding: 5px;

        li {
            display: list-item;
            list-style-type: none;
            font-size: $font-size;
            font-weight: $font-weight;
            margin: 2% auto;
        }
    }
}

.hashtags {
    margin-top: 20px;
    font-size: $font-size*1.1;
    overflow: hidden;
}

.formularioContacto label {
    display: inline-block;
}

.anchoTotal {
    width: 100%;
}

.imagenPost {
    display: block;
}

.btnColor {
    border-radius: 10px;
    background-color: var(--color-fondo-2);
    color: var(--color-basico-1);
    font-weight: $font-weight+200;
}

.bordeRecuadroEspecial {
    width: 90%;
    padding: 15px;
    @include armarBorde(solid, 2px, var(--color-basico-2), 19px, var(--color-principal));
    color: var(--color-basico-1);
    text-align: center;

    p {
        width: 100%;
        margin: 0 auto;
        display: inline-block;
        vertical-align: middle;
    }

    small {
        color: var(--color-basico-1);
    }
}

//Las siguientes dos clases son las que permiten 
//que los iFrame tengan un mejor responsive
.contenedorMedia {
    position: relative;
    @include wh-dif(100%, 0);
    @include armadoAspectRatio(16, 9);
}

.contenedorMediaOT {
    @extend .contenedorMedia;
    @include armadoAspectRatio(16, 4);
    height: 200px;
}

.media {
    position: absolute;
    top: 0;
    left: 0;
    @include wh-eq(100%);
}

