//CSS para Etiquetas particulares

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-color: var(--color-fondo);
    @include formatoTexto;
}

main,
section {
    width: 70%;
    margin: 0 auto;
}

header nav div {
    width: 90%;
    margin: 0 auto;
}

article {
    padding-left: 4px;
}

footer {

    color: var(--color-fuente-footer);
    background-color: var(--color-principal);

    section {
        width: 100%;
    }

    img {
        @include wh-eq(50px);
    }

    a {
        color: var(--color-fuente-footer);
    }
}

a {
    text-decoration: none;
    color: var(--color-fuente);
    margin: 0;
    padding: 5px;
}

a[data-hs-anchor="true"] {
    display: block;
    position: relative;
    visibility: hidden;
    top: -72px;
}

h1 {
    font-weight: $font-weight;
}

h2 {
    margin: 0 auto;
    font-weight: $font-weight+200;
}

iframe {
    display: block;
    margin: 0 auto;
    @include wh-dif(80%, 300px);
}

hr {
    height: 6px;
    border-width: 0;
    background-color: var(--color-principal);
}