/*
ID
*/

#logoCorreo {
    vertical-align: middle;
}

#podcast {
    margin-bottom: 10px;
}

#redes {
    justify-self: flex-end;
}

#contacto {
    text-align: center;    
}

#formularioContacto {
    display: block;
    width: 50%;
    margin: 0 auto;
}

#correoContacto .flex {
    justify-content: start;
}