/*
ID
*/

#novedad,
#principal {
    margin: 10vh auto;
}

#redes {
    justify-self: flex-end;
}

#contacto {
    text-align: center;
}

#correoContacto .flex {
    justify-content: start;
}

#arriba {
    content: var(--arriba);
    @include max-wh-eq(80%);
}

/*Fix para el scroll con el menú flotante así no se pisa con el contenido*/
#cl-offset :target::before {
    @include OffsetCabecera(72px);
}

@each $id,
$red in $listaRedes {
    #social-#{$red} {
        content: var(--social-#{$red});
        @include max-wh-eq(40px);
    }
}