/*Landing Page*/
.menu-lp{
    position: sticky;
    top:0;
    z-index: 5;
    vertical-align:middle;
}

.lp {
    margin-bottom: 15px;
}

#classic-menu-item{
    content: var(--classic);   
}

#landing-menu-item{
    content: var(--classic);   
}

.lp-img{
    @include wh-eq(35px);    
}

/*Fix para el scroll con el menú flotante así no se pisa con el contenido*/
#lp-offset :target::before {
    content: "";
    display: block;
    height: 65px; /* fixed header height*/
    margin: -65px 0 0; /* negative fixed header height */
  }
