//Variables

//Fuente
$font-family: 'Korolev',
sans-serif,
monospace;
$font-size: 1.2rem;
$font-weight: 700;

//Colores Paleta Light
$color-fondo-L: #e0e0e0;
$color-principal-L: #105652;
$color-fondo-2-L: #ff370f;
$color-fondo-D: #2C394B;
$color-principal-D: #082032;
$color-fondo-2-D: #FF4C29;
$color-fuente-L: #105652;
$color-fuente-D: #e0e0e0;
$color-hover: #7700FF;
$color-basico-1: white;
$color-basico-2: black;
$color-nav-1: #f8f9fa;
$color-toast: #E0E0E0;
