//Variables

//Fuente
$font-family: 'Korolev',
sans-serif,
monospace;
$font-size: 1.2rem;
$font-weight: 700;

//Colores
$color-fondo: #e0e0e0;
$color-principal: #105652;
$color-fondo-2: #ff370f;
$color-hover: #7700FF;
$color-basico-1: white;
$color-basico-2: black;
$color-nav-1: #f8f9fa;
$color-toast: #E0E0E0;

